html, body{
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
table{
	width: 75vw;
}
#edit_account_banner{
	height: 5%;
	width: 100%;	
}
#edit_account_sidebar{
	float: left;
	height: 100%;
	width: 5%;
}
#edit_account_sidebar button{
	width: 100%;
}
#edit_account_main{
	position: absolute;
	text-align: center;
	top: 20vh;
	left: 6vw;
}
#tech_table{
	/*border: solid;*/
}
#tech_table_header{
	text-align: left;
}
#tech_table_header tr:hover{
	color: black;
	cursor: default;
}
#tech_table tr{
	outline: thin solid;
}
#tech_table tr:hover{
	color: grey;
	cursor: pointer;
}
#edit_account_footer{
	margin-top: 80vh;
	height: 5%;
	width: 100%;
}
#logout_button{
	float: right;
}
