html, body{
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
body{
	background-image: linear-gradient(lightseagreen, lightblue);
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
	top: 25%;
	left: 50%;
}
input[type=text], select{
	width:100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
input[type=submit]{
	width: 100%;
	color: white;
	background-image: linear-gradient(to bottom right, limegreen, palegreen);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.5s;
	display: inline-block;
}
input[type=submit] span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
input[type=submit] span: after{
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
input[type=submit]: hover span{
padding-right: 25px;
}
input[type=submit]: hover span: after{
opacity: 1;
right: 0;
}
#login_banner{
	color: white;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	margin-top: 30vh;
	height: 307px;
	width: 446px;
	background-image: url("../img/tickit_login_02.png");
	box-shadow: 10px 10px 5px steelblue;
}
div{
	border-radius: 25px;
	background-image: linear-gradient(lightsalmon, peachpuff);
	padding: 20px;
}